*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    height: 100vh;
    background: rgb(204,136,12);
    background: linear-gradient(36deg, rgba(204,136,12,1) 0%, rgba(17,11,1,1) 100%);
}